

<ul class=" sidebar-menu ">

    <li class="header">Quick Menus</li>

    <li class="treeview">
        <b>Subscription</b>
        <ul class="menu-open">
            <li>
                <a href="{{ generate_url('admin.affiliates.affiliates') }}">All Members</a>
            </li>
            <li>
                <a href="{{ generate_url('admin.affiliates.affiliates', {'type':'pro'}) }}">Pro Members</a>
            </li>
            <li>
                <a href="{{ generate_url('admin.affiliates.affiliates', {'type':'expired'}) }}">Expired Members</a>
            </li>
            <li>
                <a href="{{ generate_url('admin.affiliates.affiliates', {'type':'free'}) }}">Free Members</a>
            </li>
        </ul>
    </li>
    <li class="treeview">
        <b>Finance</b>
        <ul>  
            <li>
                <a href="{{ generate_url('admin.tokens.tokens') }}">Tokens</a>
            </li>
            <li>
                <a href="{{ generate_url('admin.payments.transactions', {'view':'commission'}) }}">Commission History</a>
            </li>
            <li>
                <a href="{{ generate_url('admin.payments.transactions') }}">Transaction History</a>
            </li>
            <li>
                <a href="{{ generate_url('admin.withdraws.withdraws') }}">Members Withdrawal</a>
            </li>

            <li>
                <a href="{{ generate_url('admin.payments.payments') }}">Member Payments</a>
            </li>
            <li>
                <a href="{{ generate_url('admin.payments.gateways') }}">Payment Gateways</a>
            </li>
            <li>
                <a href="{{ generate_url('admin.withdraws.masspay') }}">Mass Pay</a>
            </li>
            <li>
                <a href="{{ generate_url('admin.withdraws.masspay.generatemasspay') }}" target="_blank">Generate MassPay</a>
            </li>

        </ul>
    </li>

    <li>
        <b>Email Notifications</b>
        <ul>
            <li>
                <a href="{{ generate_url('admin.notification.newsletters') }}">Newsletter</a>
            </li>
            <li>
                <a href="{{ generate_url('admin.notification.templates.layouts') }}">User Emails</a>
            </li>
            <li>
                <a href="{{ generate_url('admin.notification.emails') }}">Email Templates</a>
            </li>
            <li>
                <a href="{{ generate_url('admin.notification.newsletters.automated') }}">Auto Newsletter</a>
            </li>
            <li>
                <a href="{{ generate_url('admin.notification.newsletters.scheduled') }}">Scheduled Newsletter</a>
            </li>
            <li>
                <a href="{{ generate_url('admin.notification.subscribers') }}">Subscriber</a>
            </li>
            <li>
                <a href="{{ generate_url('admin.notification.subscribers.blacklist') }}">Email Black List</a>
            </li>
            <li>
                <a href="{{ generate_url('admin.notification.subscribers.whitelist') }}">Email White List</a>
            </li>
        </ul>
    </li>

</ul>



<style>
    .quickmenus-left li.header{
        float:none;
    }


    .quickmenus-left li a{
        color:#3c8dbc !important;
    }
    .quickmenus-left li a:hover{
        color:#72afd2 !important;
    }
</style>

