
{% import "form.macro.twig" as forms %}

<form id="{{ main_form_id }}" class="form-horizontal" action="{{ generate_url('admin.system.settings.save') }}" method="post" role="form"  enctype="multipart/form-data">

    <br>
    <div class="col-md-12">
        <div class="col-md-3">
            <ul id="kazi-system" class="nav nav-pills nav-stacked">

                {% for key,setting in settings %}

                    <li {% if root == setting.alias %}class="active"{% endif %}> 
                        <a href="{{ generate_url('admin.system.settings', { 'alias':setting.alias }) }}" title="{{ subset.title }}">
                            {{ setting.title }}
                        </a>
                    </li>

                {% endfor %}  

            </ul>
        </div>

        <!-- Tab panes -->
        <div class="tab-content col-md-9">
            <div class="tab-pane active" id="main-setting">
                {{ settings_html|raw }}
            </div>
        </div>
    </div>  

    {{ forms.input('_token' ) }} 
      {{ forms.input('return_url' , 'hidden', return_url) }}

</form>   

<style>
    #main-setting .btn-success{
        display: none;
    }
</style>






















{{ forms.input('id', 'hidden', item.id, 'Id')  }}

{{ forms.input('_token' ) }} 

</form>